.sidebar {
  background: rgb(249, 249, 247);
  box-sizing: border-box;
  width: 18%;
  height: 100vh;
  padding: 14px 16px;
}

nav {
  ul {
    font-size: 12px; 
    font-family: "Work Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    li {
      // display: inline-block;
      margin-bottom: 14px;
      > a {
        display: flex;
        align-items: center;
      }
    }
    .icon-box {
      color: #ffffff;
      display: inline-block;
      width: 13px;
      img:hover {
        filter: hue-rotate(90deg);
      }
    }
    .name {
      margin-left: 10px;
    }
    a {
      color: rgb(78, 78, 78);
      &:hover {
        color: rgb(67, 83, 255);
      }
    }
  }
}
.presentation-folder {
  div {
    color: rgb(168, 168, 168);
    font-size: 12px;
    font-weight: 500;
    margin: 36px 0 12px;
  }
  ul {
    color: #4e4e4e;
    font-size: 12px;
    font-weight: 500;
    li {
      background: rgb(235, 234, 233);
      padding: 10px;
      display: flex;
      align-items: center;
    }
    .icon {
      display: inline-block;
      width: 22px;
      margin-left: 20px;
    }
    .name {
      margin-left: 13px;
    }
  }
}