

.design-slides {
  background: rgb(247, 249, 254);
  height: 100vh;
  .main {
    display: flex;
    align-items: flex-start;
    padding: 30px 0;
  }
  .edit-options {
    padding: 0px 10px;
    width: 304px;
    margin-right: 40px;
  }
  .edit-styles {
    background: #fff;
    box-shadow: rgba(131, 134, 163, 0.12) 0px 9px 18px 0px;
    margin: 20px 0;
    padding: 16px 0;
    > div {
      // transform: translateY(-30px);
    }
    .add-text {
      display: flex;
      flex-flow: column;
    }
    button {
      font-family: "Work Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
      color: rgb(34, 40, 49);
      margin-bottom: 10px;
    }
  }
  .all-buttons {
    
  }
  .add-icon {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    button {
      width: 48%;
    }
  }
  .bg-img-head, .bg-icon-head {
    box-sizing: border-box;
    font-size: 15px;
    padding: 0px 22px;
    width: 100%;
    .icon-box {
      width: 44px;
      height: 40px;
      background: #f1f1f1;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .input {
      border: 4px solid #f1f1f1;
      border-radius: 4px;
      display: flex;
      margin-bottom: 10px;
      transition: border .2s;
    }
    input {
      border: none;
      box-sizing: border-box;
      padding: 0 14px;
      width: calc(100% - 50px)
    }
    input::placeholder {
      font-family: "Work Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
      font-size: 15px;
    }
    input:focus {
      border: none;
      outline: none;
    }
    .attribution {
      color: #8f8e8e;
      font-size: 10px;
      text-decoration: underline;
      font-style: italic;
      margin-bottom: 10px;
    }
  }
  .infoText {
    padding: 0px 22px;
  }
  .bg-img-body, .bg-icon-body {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0px 22px;
    height: 50vh;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 10px;
    }
    &::-webkit-scrollbar-thumb {
      background: $blue;
      &:hover {
        background: darken($blue, $darken);
      }
    }
    &::-webkit-scrollbar-track {
        background: transparent;
    }
    button {
      width: 48%;
      padding: 0;
      overflow: hidden;
      img {
        width: 100%;
        object-fit: cover;
        object-position: center center;
        height: 68px;
      }
    }
    .icon-btn {
      width: 45%;
      img {
        height: 100%;
      }
    }
  }
  .edit-btn {
    border: 2px solid transparent;
    &:nth-child(3) {
      padding: 1px 3px;
    }
    &#active {
      border: 2px solid $blue;
    }
    border-radius: 10px;
    box-shadow: rgba(131, 134, 163, 0.12) 0px 6px 10px 0px;
    width: 56px;
    margin: 0 11px 10px 0;
    .icon {
      display: block;
      padding-top: 10px;
      width: 58%;
      margin: auto;
    }
    .text {
      font-size: 10px;
    }
  }
}

.canvas {
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 10px 0px;
  width: 922px;
  height: 457px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  // text-align: center;
  input {
    // overflow-x: visible;
    // width: 0;
    display: inline !important;
    word-wrap: break-word;
    box-sizing: border-box;
    text-align: center;
    // transform: translate(-50%, 0);
  }
  .editable-element {
    // transform: translate(-50%, 0);
    // border: 2px solid transparent;
    display: inline-block;
    position: absolute;
    text-align: center;
    user-select: none;
    &:focus {
      // outline: none;
    }
  }
}